{%extends 'base.html'%}
{%block main_block%}
    <div class="container mt-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 border border-2 rounded p-3">
                <h3>Update ToDo</h3>
                <form action="" method="post">
                    {%csrf_token%}
                    <!-- <div>
                        <label for="">Title</label>
                        {{form.title}}
                    </div>
                    <div>
                        <label for="">Status</label>
                        {{form.task_status}}
                    </div>
                    <div>
                        <label> Discription</label>
                        {{form.discription}}
                    </div> -->
                    {{form}}
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-success mt-2" type="submit">Confirm</button> 
                    </div>
                </form>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
{%endblock%}